* {
    margin: 0px;
    padding: 0px;
}

.main-div {
    width: 90%;
    margin: 0 auto;
}

.topSection {
    width: 100%;
    height: 390px;
    display: flex;
}

.topLeft {
    width: 45%;
    height: 420px;
    margin-top: 6%;
    margin-left: 10%;
}

.button {
        background-color: #5047E4; /* Green */
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }

.topRight {
    width: 45%;
    height: 420px;
    background-image: url(images/shapes/Group\ 8446.png);
    background-repeat: no-repeat;
    background-size: 72%;
    background-position-x: 60px;
}
.topRight img{
    width: 62%;
    margin-left: 60px;
    margin-top: 60px;
}

.bottomSection {
    width: 100%;
    height: 420px;
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 40px;
}

.bottomLeft {
    width: 50%;
    height: 420px;
}
.bottomLeft img{
    width: 33%;
    margin-left: 30%;
}

.PersonDetails{
    width: 60%;
}
.bottomRight {
    width: 50%;
    height: 420px;
}
.recipies-area{
    margin-bottom: 100px;
    padding: 0 5%;
}
.recipis-heading{
    text-align: center;
    width: 706px;
    margin: auto;
}
.recipis-heading h1{

    color: #5047E4;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}
.recipis-heading p{
  
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: black;
    
}
.recipis-content{
    display: flex;
    margin-top: 40px;
}
.recipi-item{
    
    width: 33.34%;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px 26px 0px 26px;
    background: #FFFFFF;
}
.recipi-item h1{

    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #5047E4;
}
.recipi-item p{
   
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.recipi-item img{
    width: 100%;
    border-radius: 20px;
}
footer{
    background: #000;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
footer h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #5B5B5B;
}
footer p{
    color: white;
}